.push-left-icons {
  margin-left: 100px;
}
.active-button {
  background-color: #f0fdf4;
  color: #38945a;
  padding: 3px 0;
  font-size: 13px;
  border-radius: 8px;
  min-width: 50px;
}
.de-active-button {
  background-color: #ffe7e7;
  color: #ff4040;
  padding: 3px 0px;
  font-size: 13px;
  border-radius: 8px;
  min-width: 50px;
}

@media (max-width: 1080px) {
  .main-sidebar {
    display: none !important;
  }
}
