@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "PP Neue Montreal", sans-serif;
}

:root {
  --dashboard-color: #344050;
  --input-border-color: #d8e2ef;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
input {
  outline: none;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
  background-color: #edf2f9f5 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}

#g_a11y_announcement {
  right: 0 !important;
  top: 0 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Vertical Center */
.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.full-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-center-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-title {
  color: rgb(74, 74, 74);
}

.select-bg-color {
  background-color: #e3edff !important;
}
.baseline {
  align-self: baseline;
}

.login-margin {
  margin-left: 50%;
  width: 100%;
}

@media screen and (max-width: 816px) {
  .login-margin {
    margin-left: 0;
  }
}

.navbar-color,
.dashboard-color {
  color: var(--dashboard-color);
}

.input-border {
  border: 1px solid var(--input-border-color) !important;
}
.sidebar {
  color: #5d6e82;
  background-color: #edf2f9f5;
  font-weight: 500;
}

/* ::-webkit-scrollbar {
  display: none;
} */
/* 
.show-scroll::-webkit-scrollbar {
  display: block !important ;
}  */

img {
  user-select: none;
}
.content-transition {
  transition: all 0.5s ease-in-out;
}
.close-transition {
  transition: all 0.5s ease-in-out;
}
.main-layout {
  padding-top: 5em;
}
.custom-container {
  padding: 0.5em 1.5em;
}
@media screen and (max-width: 680px) {
  .custom-container {
    padding: 0.5em 0.5em;
  }
}
.res-height {
  max-height: calc(100vh - 68.63px);
  min-height: calc(100vh - 68.63px);
  overflow-y: auto;
}

.top-auto {
  top: 68.63px;
}

/* Table */
th {
  background-color: #e3edff;
  padding: 10px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #e3edff;
}

tr:nth-child(odd) {
  background-color: white;
}

.button-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .layout-blured {
  transition: filter 0.2s ease-in-out;
} */
@media screen and (max-width: 1080px) {
  .hidden-sidebar {
    display: none;
  }
}

.drop-down-icon {
  display: none;
}

@media screen and (max-width: 1080px) {
  .drop-down-icon {
    display: block;
  }
}

.push-left {
  margin-left: 240px;
}

@media screen and (max-width: 1080px) {
  .push-left {
    margin-left: 0;
  }
}
.curve-shape {
  border-top-left-radius: 10px;
}
.bg-premium {
  background-image: url("/src/assets/premiumBg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-component {
  display: flex;
}
@media screen and (max-width: 900px) {
  .search-component {
    display: none;
  }
}
